config.log
.scons*
python/pfs/drp/qa/version.py
.idea
.DS_Store
._*
*egg*
.ipynb_checkpoints
__pycache__
.coverage
bin

# Ignore everything in examples except our example notebook.
examples/*
!examples/QA Pipelines.ipynb
!examples/check_fiberProfiles.ipynb

.sconf_temp
tests/.tests
